---
// Codigo Server side only -- Codigo del servidor en momento de construccion
import MainLayouts from "../layouts/MainLayouts.astro";
import Pokemonscard from "../components/pokemons/pokemonscard.astro";

import type { PokemonListResponse } from "../interfaces/pokemon-list.response";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

console.log(data);

const title = "Pokemon statict | Home";
---

<MainLayouts title={title}>
  <h1 class="text-3xl">Listado de Pokemons</h1>
  <hr/>
  <section 
	aria-label="Listado Pokemon"
	class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4"
  >
    {
      data.results.map((pokemon) => (
        <Pokemonscard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayouts>
